# Fichiers de build
*.o
*.d
*.elf
*.hex
*.bin
*.map

# Dossiers temporaires d'IDE
build/
Debug/
Release/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de l'IDE (Keil, STM32CubeIDE, etc.)
*.uvoptx
*.uvprojx
*.log
*.suo
*.user
*.cproject
*.project
*.launch
.idea/
.vscode/

# Backup
*~
