# Fichiers de compilation et binaires
*.elf
*.bin
*.hex
*.axf
*.o
*.obj
*.map
*.lst
*.d

# Dossiers de build
/build/
/Debug/
/Release/
/output/
/.elf/
*.launch

# Fichiers générés par STM32CubeMX
*.ioc
*.mxproject

# Fichiers générés par IDE (Keil, TrueSTUDIO, IAR, VSCode, etc)
*.uvprojx
*.uvoptx
*.ewp
*.ewd
*.cproject
*.project

# Fichiers temporaires et logs
*.log
*.tmp
*.bak
*~

# Dossiers cachés IDE
.vscode/
.idea/

# Fichiers générés par CMake (si utilisé)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Autres fichiers
*.dmp

# Ignore les dossiers et fichiers spécifiques à votre environnement ou config personnelle
